

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet">

    <title>doctor dashboard</title>
</head>
<body>
<div class="dash-info">

   
          <div class="dash_text">
         
                    

        </div>
        
      
      
</div>
 

      


       <header>
           <div class="menu">
               <ul>
                <li><a href="#">Home</a></li>
                <li><a href="views/login.php">Login</a></li>
                <li><a href="views/blog.html">Blog</a></li>
                <li><a href="views/all_doctors.php">Doctors</a></li>
                <li><a href="views/all_patient.php">Interns</a></li>
                <li><a href="#">Corona Section</a></li>
                <li><a href="views/contact_us.php">Contact us</a></li>


               </ul>

           </div>
       </header>
      
       


    

    

    
    
    
</body>
</html>