

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../assets/js/contact_us.js"></script>


    <title>doctor dashboard</title>
</head>
<body>
<div class="dash-info">

   
          <div class="dash_view">
         
            <table width="100%" border ="1">
               
                <tr>
                    <td align="center">
                        <p><b>CONTACT US</b></p>
                        <form>
                           <table>
                             <tr>
                                
                                <td colspan="2">
                                    <p><b><i>email: online_doctor@gmail.com</i></b></p>
                                    <p><b><i>phone number: 5626897088-989</i></b></p>
        
                                </td>
                             </tr>
        
        
                               <tr>
                                 <td>NAME:</td>
                                 <td><input type="text" id="uname" name="uname" onkeyup="un_remover()" onblur="un_empty()"><b><i id="un_Msg"></i></b><br></td>
                               </tr>
        
                               <tr>
                                <td>message:</td>
                                <td><input type="text" id="message" name="message"onkeyup="m_remover()" onblur="m_empty()"><b><i id="m_Msg"></i></b><br></td>
                              </tr>
        
                              <tr>
                                
                                <td colspan="2"><input type="button" name="send" value="send"></td>
                              </tr>
                           </table>
                        </form>
        
                    </td>
                </tr>
                <tr >
                    <td align="center" >
                        <p><i>copyright@ONLINE_DOCTOR(Nusrat Alam Chaiti)</i></p>
                    </td>
                </tr>
            </table>

        </div>
        
      
      
</div>
 

      


       <header>
           <div class="menu">
               <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="login.php">Login</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="all_doctors.php">Doctors</a></li>
                <li><a href="all_interns.php">Interns</a></li>
                <li><a href="#">Corona Section</a></li>
                <li><a href="contact_us.html">Contact us</a></li>


               </ul>

           </div>
       </header>
      
       


    

    

    
    
    
</body>
</html>