*{

    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
  
    font-family: roboto;
  
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'Nova Round',cursive;
  }
  .wrap{
  
    background: rgba(0, 0, 0, 0.5)url(../image/index-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow:hidden ;
    background-blend-mode:overlay ;
  
    /* background-color: tomato; */
  
  }
  .wrap_doc
  {
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/dashboard.jpg); */
    background-position: center;
    background-size: cover;
    position: absolute;
  }
  
  .wave{
    position: absolute;
    width: 100%;
    bottom: -20px;
    color:#fff;
    opacity: 1;
  }
  
  
  .hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/index-2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
  
  }
  
  header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 90 px;
    background:linear-gradient(to top,transparent,rgba(0,0,0,0.6));
  }
  header .logo{
  
    float: left;
     margin-top: 20px;
  
  
    /* background: url(../image/logo-n.png) no-repeat;
    min-width: 100%;
    min-height: 100%; */
  }
  header .menu{
    float:right;
    margin-top: 20px;
  }
  header ul li{
    display:inline-block;
  }
  header ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin:0 25px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  header ul li a:hover{
    color:#30A7F2;
  
  }
  .content{
    max-width: 55%;
  
    padding: 200px 90px 0;
    color: #fff;
  }
  .content h1{
    font-size: 48px;
  
  }
  .content p{
    font-size: 20px;
    padding:25px 0;
    font-weight:300;
  }
  .content .btn-group{
    margin-top: 45px;
  }
  .content a{
    display: inline-block;
    padding: 15px 45px ;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
  
  }
  .content a.color1{
    background-color:#30A7F2;
  }
  .box_item
  {
    display: flex;
    box-sizing:border-box;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    /* bottom: 30px; */
    flex-wrap: wrap;
    /* background:linear-gradient(to top,rgba(13, 149, 228, 0.6)); */
  
  
  }
  .box{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#ADD4F5 ;
    margin: 40px;
    top: 60px;
  }
  
  
  .box::before
  {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background:#446EE6;
    z-index: -1;
  
  }
  .box::after
  {
    content: '';
    position: absolute;
    top: -1px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background:#227DE6;
    z-index: -2;
    filter: blur(40px);
  
  }
  
  
  .box:nth-child(1):before, .box:nth-child(1):after
  {
    background:linear-gradient(235deg,#89ff00,#fff,#1FF5AB)
  }
  
  
  .box:nth-child(2):before, .box:nth-child(2):after{
    background:linear-gradient(235deg,#ff005e,#fff,#fbff00)
  }
  
  
  .box:nth-child(3):before, .box:nth-child(3):after{
    background:linear-gradient(235deg,#772aff,#fff,#2196f3)
  }
  
  
  
  .box .glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background:#C4E7FF;
    pointer-events: none;
  
  }
  
  .box .box_content{
    position: absolute;
  
    padding: 20px;
    color:#446EE6;
  }
  
  /* ----------------login ---------*/
  
  .form-box{
    width: 400px;
    height: 540px;
    position: relative;
    margin: 10% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
  
  }
  .button-box{
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
  
  }
  .toggle-btn{
  
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    /* display: inline-block; */
  }
  
  #btn
  {
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: 0.5s; ;
  }
  .input-group
  {
    top: 90px;
    position: absolute;
    width: 280px;
    transition: .5s;
  }
  .input-field
  {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  .submit-btn
  {
    width: 85%;
    padding:10px 70px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
  
  }
  
  .check-box
  {
    margin: 40px 15px 36px 0;
  }
  span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
    font-size: 16px;
  }
  #login
  {
    left: 50px;
  }
  
  #register
  {
    left: 450px;
  }
  .radio
  {
    width: 100%;
    padding: 20px 0;
  
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    outline: none;
    background: transparent;
  }
  #male
  {
    color: #777;
    font-size: 12px;
    bottom: 185px;
    left: 80px;
    position: absolute;
    font-size: 16px;
  
  }
  #female
  {
    color: #777;
    font-size: 12px;
    bottom: 165px;
    left: 80px;
    position: absolute;
    font-size: 16px;
  
  }
  #other
  {
    color: #777;
    font-size: 12px;
    bottom: 143px;
    left: 80px;
    position: absolute;
    font-size: 16px;
  
  }
  .dob
  {
    color: #777;
  
  
  }
  #utype
  {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #777;
  
  }
  
  /* ////////doctor dashboard//////////// */
  
  .dash-info
  {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/dashboard.jpg);
  
  
  
  }
  .dash_view
  {
    width: 800px;
    height: 730px;
    top: 60px;
    position: relative;
    margin: 10% auto;
    background:transparent;
    padding: 5px;
    overflow: hidden;
  
  
  }
  .dash_text
  {
    width: 400px;
    height: 530px;
    top: 60px;
    position: relative;
    margin: 10% auto;
    background:transparent;
    padding: 5px;
    overflow: hidden;
  
  
  }
  .cp
  {
    /* width: 400px; */
    /* height: 25px; */
    bottom: -190px;
    background-position: center;
    position: relative;
    margin: 5% auto;
    background:transparent;
    padding: 5px;
  }
  body {
      background-color:white;
      margin: 0;
      padding: 0;
  
  }
  h1 {
      /* color : #000000; */
      text-align : center;
      /* font-family: "SIMPSON"; */
  }
  form {
      width: 300px;
      margin: 0 auto;
  
  }
  #form1 {
      background-color:teal;
  
  
  } 